In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
CSV_PATH = "../data/results/results_cleaned_categorized.csv"

In [3]:
# Import datasets
housing = pd.read_csv(CSV_PATH)
housing.head(3)

,house_name,location,bedroom_count,bathroom_count,carport_count,price,land_area (m2),building_area (m2),category
0,Rumah 2 Lantai Bagus Sertifikat Hak Milik di M...,"Andir, Bandung",3,2,2,2100000000,137,170,rumah
1,Rumah Cantik @ Andir (Sudirman),"Andir, Bandung",3,2,3,4100000000,202,300,rumah
2,Jual Cepat Rumah di Maleber Rajawali Bisa Untu...,"Andir, Bandung",5,2,1,3300000000,350,258,rumah

In [4]:
housing.shape

(7607, 9)

The housing data have 7609 instances and 9 variables.

In [5]:
housing.describe()

,bedroom_count,bathroom_count,carport_count,price,land_area (m2),building_area (m2)
count,7607.000000,7607.000000,7607.000000,7.607000e+03,7607.000000,7.607000e+03
mean,4.477061,3.196530,1.374523,4.982376e+09,274.573551,6.426945e+02
std,4.713118,4.105357,1.928310,1.476448e+10,440.610058,3.446351e+04
min,0.000000,0.000000,0.000000,1.200000e+07,6.000000,1.000000e+00
25%,3.000000,2.000000,0.000000,1.150000e+09,102.000000,1.000000e+02
50%,4.000000,3.000000,1.000000,2.250000e+09,165.000000,1.800000e+02
75%,5.000000,3.000000,2.000000,4.750000e+09,313.000000,3.000000e+02
max,99.000000,99.000000,40.000000,7.350000e+11,11850.000000,3.006000e+06